body, html {
    font-family: 'Newsreader', sans-serif;
    padding-top:2.5em;
    margin:0;
    background-color:#eee;
  }
.paper {
    margin: 0 auto;
    margin-bottom:1em;
    background-color:white;
    width:60%;
    padding:0.5em 0 0 0;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    border-radius:3px;
  }
.header {
    width:100%;
    vertical-align: middle;
    text-align: center;
  }
  .pic {
    margin: 0 auto;
    margin-top:-4.5em;
    border-radius:10em;
    height:9em;
    width:9em;
    background-size: 100% auto;
    border: 2px solid #e0e0e0;
    transition : all 0.5s linear;
  }


.footer {
    width: 100%;
    background-color:white;

}
  .copy {
    display: block;
    background-color:rgb(201, 198, 198);
    text-align: center;
  }
section {
    padding: 0 5%;
}
.contact-list-item {
    margin: 10px;
}
.contact-list-link {
    text-decoration: none;
    color:#000;
}
.contact-list-link:hover {
    background-color:#808080;
    border-radius: 3px;
}
.code {
    max-width: 100%;
    height: auto;   
}
